.header {
  
  background: #fff;
  border-bottom: 1px solid #e6eef8;
  margin : 0 auto;
}

.container {
  display: flex;
  
  max-width: 100%;
  margin: 0 auto;
  padding: 12px 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
  height: 36px;
  aspect-ratio: 10/3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  object-fit: contain;
}

.menuButton {
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButton:hover {
  opacity: 0.7;
}

.menuButton:active {
  opacity: 0.5;
}
